.background-paper {
  background-image: url("/images/backgrounds/Paper_background.webp");
  background-repeat: repeat;
  background-size: auto;
  background-position: top left;
}

.background-paper--soft {
  opacity: 0.9;
}

.background-paper--cover {
  background-size: cover;
  background-position: center;
}

.background-paper--dense {
  background-size: 600px 600px;
}

.section--paper {
  position: relative;
  overflow: hidden;
}

.section--paper::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/images/backgrounds/Paper_background.webp");
  background-repeat: repeat;
  background-size: 600px 600px;
  opacity: 1;
  z-index: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: inherit;
}

.section--paper > * {
  position: relative;
  z-index: 1;
}
