@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shine {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

.btn-shimmer::before,
.btn-shimmer::after {
  content: "";
  position: absolute;
}
